{% extends 'base/base.html' %}

{% block title %} Вход {% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for field, errors in form.errors.items %}
                <div>
                    {% for error in errors %}
                        <strong>Ошибка:</strong> {{ error }}
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="d-flex flex-grow-1 justify-content-center align-items-center h-100">
        <div class="col-md-5 mx-auto">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Имя пользователя</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    {{ form.password }}
                </div>
                <input type="submit" class="btn btn-primary" value="Войти">
            </form>
        </div>
    </div>
{% endblock %}
