{% extends 'base/base.html' %}
{% load static %}

{% block title %} Изменение записи {% endblock %}

{% block content %}
    <div class="mx-1">
        <form method="POST">
            {% csrf_token %}
            {% if error_security_pass %}
                <div class="alert alert-danger alert-dismissible fade show my-2">
                    <strong>Ошибка!</strong> {{ error_security_pass }}
                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert"></button>
                </div>
            {% endif %}
            <div class="d-flex align-items-center gap-2">
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">Номер документа</span>
                    <input type="text" readonly class="input-group-text shadow-none" style="outline:0"
                           placeholder="Номер документа"
                           value="{{ record.number_of_document }}">
                </div>
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">Название документа</span>
                    <input type="text" readonly class="input-group-text shadow-none" style="outline:0"
                           placeholder="Название документа"
                           value="{{ record.title }}">
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">Дата начала документа</span>
                    <input type="text" readonly class="input-group-text shadow-none" style="outline:0"
                           placeholder="Дата начала документа"
                           value="{{ record.date_start }}">
                </div>
                <div class="input-group date w-auto my-2" id="date_end_div">
                    <span class="input-group-text" id="basic-addon1">Дата окончания документа</span>
                    <input type="text" readonly class="input-group-text shadow-none" style="outline:0"
                           placeholder="Дата окончания документа"
                           value="{{ record.date_end }}">
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="input-group my-2 w-auto">
                    <span class="input-group-text">Комментарий бюро</span>
                    <textarea readonly
                              class="md-textarea input-group-text shadow-none"
                              style="outline:0"
                              placeholder="Комментарий бюро"
                              rows="4" cols="30">{{ record.comment_for_access_office }}</textarea>
                </div>
            </div>
            <div class="d-flex">
                <div class="input-group my-2 w-auto">
                    <span class="input-group-text">Предыдущие комментари охраны</span>
                    <textarea readonly
                              class="md-textarea input-group-text shadow-none"
                              style="outline:0; white-space: normal;"
                              placeholder="Комментарии охраны"
                              rows="4" cols="30">{{ record.comment_for_security }}</textarea>
                </div>
            </div>
            <div class="d-flex">
                <div class="input-group my-2 w-auto">
                    <span class="input-group-text">Комментарий охраны</span>
                    <textarea id="comment_for_security"
                              name="security_comment"
                              class="md-textarea form-control shadow-none"
                              placeholder="Комментарий охраны"
                              rows="4" cols="30"></textarea>
                    <button type="button" class="input-group-text" onclick="AddCurrentDate()">Добавить текущую дату
                    </button>
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">Пропускной пункт</span>
                    <input type="text" readonly class="input-group-text shadow-none" style="outline:0"
                           placeholder="Пропускной пункт"
                           value="{{ record.crossing_point_name.all|join:", " }}">
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">Файл документа</span>
                    <a href="{{ record.document_file.url }}" target="_blank"
                       class="input-group-text link-primary text-decoration-none">Посмотреть</a>
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">Марка ТС</span>
                    <input readonly class="input-group-text shadow-none" style="outline:0" placeholder="Марка ТС"
                           value="{{ record.auto.car_brand }}">
                </div>
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">Гос. рег. знак</span>
                    <input readonly class="input-group-text shadow-none" style="outline:0"
                           value="{{ record.auto.license_plate }}">
                </div>
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">Номер свидетельства о рег. ТС</span>
                    <input readonly class="input-group-text shadow-none" style="outline:0"
                           value="{{ record.auto.car_registration_number }}">
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">ФИО</span>
                    <input readonly class="input-group-text shadow-none" style="outline:0"
                           value="{{ record.auto.driver.full_name }}">
                </div>
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">Паспортные данные</span>
                    <input readonly class="input-group-text shadow-none" style="outline:0"
                           value="{{ record.auto.driver.passport_details }}">
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">Дата рождения</span>
                    <input readonly class="input-group-text shadow-none" style="outline:0"
                           value="{{ record.auto.driver.date_of_birth }}">
                </div>
                <div class="input-group w-auto my-2">
                    <span class="input-group-text" id="basic-addon1">Номер водительского удостоверения</span>
                    <input readonly class="input-group-text shadow-none" style="outline:0"
                           value="{{ record.auto.driver.driver_license_number }}">
                </div>
                <div class="input-group w-auto my-2">
                    <input class="btn btn-success my-2" type="submit" value="Сохранить">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'access_office/js/scripts.js' %}"></script>
{% endblock %}